*.pyc
*.pyo
*.pyd
.Python

# Виртуальное окружение
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.iml

# Данные
data/
*.xlsx
*.xls
*.csv

# Отчёты
#htmlcov/
#.coverage
.pytest_cache/

# Логи
*.log
*.tmp

# Системные
.DS_Store
Thumbs.db